/* Normalize */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,.ui-btn,.small,.xsmall { 
	margin:0;
	padding:0;
}
body,html,.data-table {
    width: 100%;
    font-family: Verdana, Arial,sans-serif;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
option {
	background-color: inherit;
}
abbr,acronym,fieldset,img { border:0;}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.ui-btn {
	font-size: 1em;
}

.ui-padded-top, body, html { padding-top: 6px; }
.ui-padded-right { padding-right: 6px; }
.ui-padded-bottom { padding-bottom: 6px; }
.ui-padded-left { padding-left: 6px; }
.ui-padded-all, .header, .footer, .content, .iblock td, .iblock th, .filter_menu_item {
	padding: 6px;
}

.header ul {
    display: inline-block;   
}
.header ul li, .left {
    float: left;
}

.wrapper {
    width: 96%;
    margin: 0 auto;  
}

.content {
    overflow-x: auto; 
}

.small {
	font-size: .89em;
}
.xsmall {
	font-size: .68em;
}

.filter_menu {
    float: left;
    margin-right: 18px;
}

.clearfix {
    clear: both;   
}

.filter_menu_item {
	position: relative;
}
.filter_menu_item a {
	position: absolute;
	right: 3px;
	top: 3px;
}

.iblock {
	margin: 6px;
}

.paging-buttons input, .header li {
	margin: 1px;
}

.data-table th, .data-table td:last-child span, .static-cell {
    white-space: nowrap;
    text-align: center;
}
.data-table, .data-table td {
    font-size: 90%; 
}
.data-table td, .data-table th {
    padding: 6px 12px;
}

.static-column {
	width: 1em;
}

.ui-heading {
	font-size: 1.33em;
	font-weight: 700;
}

/* unmerged */
.ui-notify {
    position: fixed;
    bottom: -65px;
    width: 100%;
    text-align: center;
    height: 65px;
    line-height: 65px;
}


